
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <p class="text-center" style="font-size:16px;color:#C34C8B">Please enter your details to<br/> <strong>SIGNUP</strong>!</p>
                <form class="form-signup" [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
               <input type="text" class="form-control" placeholder="Department" formControlName="department">
               <input type="text" class="form-control" placeholder="Address" formControlName="address">
               <app-drop-down (valueChange)='displayCounter($event)'></app-drop-down><br/>
			    <input type="text" class="form-control" placeholder="Designation" formControlName="designation">
                <input type="number" class="form-control" placeholder="Contact" formControlName="contact">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                <input type="password" class="form-control" placeholder="Password" formControlName="passwrd">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    SIGNUP</button><br/>
                   <p class="text-right"> <a href="login" class="need-help"><span class="glyphicon glyphicon-arrow-left"></span> Back To Login</a></p>
                </form>
            </div>
        </div>
    </div>
</div>