<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <p class="text-center" style="font-size:18px;color:#C34C8B"><strong>LOGIN</strong></p>
                <form class="form-signin" [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
                    <input type="email" class="form-control" placeholder="Email" formControlName="emailid">
                    <input type="password" class="form-control" placeholder="Password" formControlName = "passwd">
                    <app-drop-down (valueChange)='displayCounter($event)'></app-drop-down><br/>
                    <button class="btn btn-lg btn-primary btn-block forsubmit" type="submit">
                        Login</button><br />
                    <a href="#" class="need-help" style="display:inline-block;width:50%;">Forget Password</a>
                    <a href="signup" class="need-help text-right" style="display:inline-block;width:50%;">New User</a>
                </form>
                <p>
                   <!---- Email entered is : {{emailid}}
                    Password is :{{passwd}}--->
                 </p>
            </div>
        </div>
    </div>
</div>